* {

font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#header {

position: fixed;
color: aliceblue;
background-color: blue;

}

#nav-bar {


}

#footer {

    color: aquamarine;
    background-color: darkgreen;

}

h1 {
    color: royalblue;
}

h6 {

    color: blueviolet;


}

